/Exercicio7Hipotenusa/nbproject/private/
/Exercicio15Bhaskara/build/
/Exercicio15Bhaskara/nbproject/private/
/Average/build/
/Average/nbproject/private/
/ContaTelefonica/build/
/ContaTelefonica/nbproject/private/
/ExecicioFarenheit/build/
/ExecicioFarenheit/nbproject/private/
/Exercicio13MaiorNumero/build/
/Exercicio13MaiorNumero/nbproject/private/
/Exercicio14Maiordivisao/build/
/Exercicio14Maiordivisao/nbproject/private/
/Exercicio9Funcionario/build/
/Exercicio9Funcionario/nbproject/private/
/OlaMundo/nbproject/private/
/Saudacao/nbproject/private/
/OlaMundo/build/
/Saudacao/build/
/PedraPapelTesoura/nbproject/private/
/PedraPapelTesoura/build/
/JogoDaVelha/nbproject/private/
/JogoDaVelha/build/
/Calculadora/nbproject/private/
/TipoTriangulo/nbproject/private/
/TipoTriangulo/build/
/Adivinha/nbproject/private/
/Calculadora/build/
/ParImpar/nbproject/private/
/ParImpar/build/
/War/nbproject/private/
/War/build/
/Exercicio18Triangulo/nbproject/private/
/Exercicio18Triangulo/build/
/Exercicio16DuracaoJogo/nbproject/private/
/Exercicio16DuracaoJogo/build/
/Exercicio17ValoresAceitos/nbproject/private/
/Exercicio17ValorAceito/nbproject/private/
/Exercicio17ValorAceito/build/
/OrdenarNumeros/nbproject/private/
/OrdenarNumeros/build/
/Exercicio3Notas/nbproject/private/
/Exercicio3Notas/build/
/Exercicio8Multa/nbproject/private/
/Exercicio10Calculadora/nbproject/private/
/Exercicio10Calculadora/build/
/Exercicio4DiasDoMes/nbproject/private/
/Exercicio1Divisivel3/nbproject/private/
/Exercicio2Diautil/nbproject/private/
/Exercicio7PlanoSaude/nbproject/private/
/Exercicio5Baixatemporada/nbproject/private/
/Exercicio9CPF/nbproject/private/
/Exercicio9CPF/build/
/EstruturasRepeticaoPI/nbproject/private/
/EstruturasRepeticaoPI/build/
/Lista2Lacos/nbproject/private/
/Lista2Lacos/build/
/JogoDaVelha/dist/
/MateriaisTransporte/nbproject/private/
/JogoDaVelha2/nbproject/private/
/JogoDaVelha2/build/
/JogoDaVelha2/dist/
/BlackJack/nbproject/private/
/BlackJack/build/