/Exercicio7Hipotenusa/nbproject/private/
/Exercicio15Bhaskara/build/
/Exercicio15Bhaskara/nbproject/private/
/Average/build/
/Average/nbproject/private/
/ContaTelefonica/build/
/ContaTelefonica/nbproject/private/
/ExecicioFarenheit/build/
/ExecicioFarenheit/nbproject/private/
/Exercicio13MaiorNumero/build/
/Exercicio13MaiorNumero/nbproject/private/
/Exercicio14Maiordivisao/build/
/Exercicio14Maiordivisao/nbproject/private/
/Exercicio9Funcionario/build/
/Exercicio9Funcionario/nbproject/private/
/OlaMundo/nbproject/private/
/Saudacao/nbproject/private/
/OlaMundo/build/
/Saudacao/build/
/PedraPapelTesoura/nbproject/private/
/PedraPapelTesoura/build/